@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap');
:root {
  --Blue: hsl(246, 80%, 60%);

  --Light-red-work: hsl(15, 100%, 70%);
  --Soft-blue-play: hsl(195, 74%, 62%);
  --Light-red-study: hsl(348, 100%, 68%);
  --Lime-green-exercise: hsl(145, 58%, 55%);
  --Violet-social: hsl(264, 64%, 52%);
  --Soft-orange-self-care: hsl(43, 84%, 65%);

  --Very-dark-blue: hsl(226, 43%, 10%);
  --Dark-blue: hsl(235, 46%, 20%);
  --Desaturated-blue: hsl(235, 45%, 61%);
  --Pale-Blue: hsl(236, 100%, 87%);
}
body {
  color: white;
  background: var(--Very-dark-blue);
  margin: 0;
  font-size: 18px;
  font-family: Rubik, sans-serif;
}
div.container.flex {
  display: flex;
  flex-direction: column;
  align-items: center;
}
div.container {
  display: flex;
  flex-direction: column;
  column-gap: 1rem;
  margin: auto;
  justify-content: center;
}

header {
  grid-area: header;
  background: var(--Dark-blue);
  margin: 10px;
  border-radius: 10px;
  text-align: left;
}
nav {
  display: flex;
  flex-direction: column;
  height: 30%;
}
.conteudo {
  display: flex;
  flex-direction: column;
  align-items: start;
  height: 70%;
  padding: 10px;
  border-radius: 10px 10px 6px 6px;
  z-index: 2;
  background: var(--Dark-blue);
}
.infojeremy {
  display: flex;
  flex-direction: column;
  gap: 0;
  margin-bottom: 20px;
}
.main {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: var(--Blue);
  padding: 5px;
  border-radius: 10px;
  height: 65%;
}

h1 {
  margin: 10px;
  font-size: 24px;
  font-weight: 300;
}
h2,
div.subtitle span {
  margin: 10px;
  font-size: 18px;
  font-weight: 400;
}

span.big {
  font-size: 30px;
}
p,
span.span {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: end;
}
p span {
  color: var(--Desaturated-blue);
}
div.subtitle {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
  width: 100%;
}
div.main span {
  margin-left: 10px;
}
div span {
  color: var(--Pale-Blue);
  font-size: 10px;
}

ul {
  display: flex;
  align-items: center;
  justify-content: center;

  list-style: none;
  margin-left: 10px;
  padding: 0;
}

li {
  cursor: pointer;
  color: var(--Desaturated-blue);
  font-size: 12px;
  margin: 10px;
}

.jeremy {
  height: 50px;
  margin: 0px 0 20px 20px;
}

div.subtitle span.pontinhos {
  cursor: pointer;
  height: 10px;
  margin: 0;
  padding: 0;
  display: contents;
}

div.subtitle span.pontinhos img {
  height: 3px;
}

div.conteudo.infojeremy {
  background: var(--Blue);
  margin-left: 30px;
}
.image {
  display: flex;
  justify-content: end;
  height: 15%;
  padding: -20px 5px 0 0;
}

.imgsec {
  height: 50px;
}

section {
  background: var(--Dark-blue);
  display: flex;
  flex-direction: column;
  justify-content: end;
  border-radius: 10px;
  margin: 10px;
}

section.work {
  background: var(--Light-red-work);
}

section.play {
  background: var(--Soft-blue-play);
}

section.study {
  background: var(--Light-red-study);
}

section.exercise {
  background: var(--Lime-green-exercise);
}

section.social {
  background: var(--Violet-social);
}
section.selfCare {
  grid-area: selfCare;
  background: var(--Soft-orange-self-care);
}
div.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: var(--Desaturated-blue);
}

@media (min-width: 920px) {
  body {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  div.container.flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  div.container {
    display: grid;
    grid-template-areas:
      'header main'
      'attribution attribution';
    gap: 1rem;
    text-align: center;
    justify-content: center;
  }

  header {
    margin: 10px 0;
    width: 160px;
    height: 350px;
  }
  .main {
    flex-direction: column;
    align-items: baseline;
    justify-content: space-around;
    background: var(--Blue);
    padding: 5px;
    border-radius: 10px;
    height: 65%;
  }
  main {
    grid-area: main;
    display: grid;
    grid-template-areas:
      'work play study'
      'exercise social selfCare';
  }
  ul {
    display: block;
  }
  section {
    display: flex;
    flex-direction: column;
    justify-content: end;
    width: 160px;
    height: 160px;
  }
  p {
    align-items: baseline;
    flex-direction: column;
    gap: 2px;
  }
  span.span {
    justify-content: left;
  }
  section.work {
    grid-area: work;
    background: var(--Light-red-work);
  }

  section.play {
    grid-area: play;
    background: var(--Soft-blue-play);
  }

  section.study {
    grid-area: study;
    background: var(--Light-red-study);
  }

  section.exercise {
    grid-area: exercise;
    background: var(--Lime-green-exercise);
  }

  section.social {
    grid-area: social;
    background: var(--Violet-social);
  }
  section.selfCare {
    grid-area: selfCare;
    background: var(--Soft-orange-self-care);
  }
  div.attribution {
    grid-area: 'attribution';
    font-size: 11px;
    text-align: center;
  }
  .attribution a,
  .attribution span {
    font-size: 12px;
    color: var(--Pale-Blue);
  }
}
